@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@import "./variables.css";
@import "./vpdoc.css";
@import "./code.css";
@import "./customblock.css";

pre, code {
  font-size: 12px;
}

p, li, label, a, blockquote, td, th {
  font-family: "Roboto Mono", ui-monospace, monospace;
  font-weight: 400;
}

.vp-doc p,
.vp-doc li {
  line-height: 1.75;
}

code, pre, .geist-mono,
.vp-doc :not(pre) > code,
.vp-doc [class*='language-'] code {
  font-family: "Geist Mono", "Geist Mono Fallback", ui-monospace, monospace;
}

/*  */

strong {
  font-weight: 700;
}

label {
  margin: 6px 0;
}

/* span[class="lang"] {
  height: 0;
  font-size: 12px;
  margin-left: auto;
}

.vp-doc div {
  display: flex;
  flex-direction: column;
} */

.vp-doc {
  h1 {
    font-weight: 900;
  }
  h2 {
    font-weight: 800;
  }
}